<form>
  <div class="mook-sheet-limited">
    <div class="mook-image-limited">
      <img class="mook-image-block-img"
           src="{{actor.img}}"
           data-tooltip="{{actor.name}}"/>
    </div>
    <div class="mook-name-limited side-banner">
      <div class="text-largest">{{actor.name}}</div>
    </div>
    <div class="mook-details-limited">
      <div class="mook-notes-limited pad-thin">
        <span class="text-padding-left-smallest">{{localize "CPR.global.generic.notes"}}</span>
        <div class="mook-edit-section-limited text-padding-left-smallest">
          {{editor system.information.notes target="system.information.notes"}}
        </div>
      </div>
    </div>
  </div>
</form>
