<form class="dialog-sheet">
  <div class="dialog-header flexcol">
    <div class="text-normal text-center">
      {{localize "CPR.dialog.dv.selectDvTable"}}
    </div>
  </div>
  <hr/>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.dialog.dv.dvTable"}}:
        </div>
        <div class="dialog-item-input text-nowrap">
          <select name="dvTable">
            {{selectOptions dvTables selected=dvTable labelAttr="name" valueAttr="name" blank=(localize "CPR.global.generic.notApplicable")}}
          </select>
        </div>
      </li>
    </ol>
  </div>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
