<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.rolls.location"}}:
  </span>
  <span class="summary-value">
    {{localize (cprFindConfigValue "criticalInjuryLocation" item.system.location)}}
  </span>
</div>
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.criticalInjury.deathSaveIncrease"}}:
  </span>
  <span class="summary-value">
    {{cprYesNo item.system.deathSaveIncrease}}
  </span>
</div>
