{{#if item.isOwned }}
  <li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
      {{localize "CPR.itemSheet.physical.location"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
      {{#if this.editable }}
        <select name="system.equipped" data-dtype="{{item.system.equipped}}">
          {{selectOptions (cprFindConfigObj "equipped") selected=item.system.equipped localize=true}}
        </select>
      {{else}}
        <span class="text-flex-end">{{localize (cprFindConfigValue "equipped" item.system.equipped)}}</span>
      {{/if}}
    </div>
  </li>
{{/if}}
