{{!-- Skill Item Type --}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.skills.skillType"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    <select name="system.skillType" data-dtype="{{item.system.skillType}}">
      {{selectOptions (cprFindConfigObj "skillTypes") selected=item.system.skillType localize=true}}
    </select>
  </div>
</li>
{{!-- Skill Item Category--}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.skills.category"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    <select name="system.category" data-dtype="{{item.system.category}}">
      {{selectOptions (cprFindConfigObj "skillCategories") selected=item.system.category localize=true}}
    </select>
  </div>
</li>
{{!-- Skill Difficulty Settings--}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.skills.difficulty"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    <select name="system.difficulty" data-dtype="{{item.system.difficulty}}">\
      {{selectOptions (cprFindConfigObj "skillDifficulties") selected=item.system.difficulty localize=true}}
    </select>
  </div>
</li>
{{!-- Skill Basic Settings--}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.skills.basic"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    {{#if item.system.basic }}
      <a class="item-checkbox" data-target="system.basic"><i class="far fa-circle-check"></i></a>
    {{else}}
      <a class="item-checkbox" data-target="system.basic"><i class="far fa-circle"></i></a>
    {{/if}}
  </div>
</li>
{{!-- Skill Level Settings--}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.skill.level"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    <input name="system.level"
           type="number"
           data-dtype="Number"
           value="{{item.system.level}}" />
  </div>
</li>
{{!-- Skill Stat Settings--}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.global.generic.stat"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    <select name="system.stat" data-dtype="{{item.system.stat}}">
      {{selectOptions (cprFindConfigObj "statList") selected=item.system.stat localize=true}}
    </select>
  </div>
</li>
