{{!-- Upgrade Installed Setting --}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.itemUpgrade.upgradeType"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    {{#if this.editable }}
      <select name="system.type" data-dtype="{{item.system.type}}">
        {{selectOptions upgradableTypes selected=item.system.type localize=true}}
    </select>
  {{else}}
    <span class="text-flex-end">{{localize (cprFindConfigValue "objectTypes" item.type)}}</span>
  {{/if}}
</div>
</li>
{{!-- If this is a weapon type, see if it is an additional weapon to what it is being--}}
{{#if (cprCompare (cprCompare item.system.type "===" "weapon") "||" (cprCompare item.system.type "===" "cyberware")) }}
  <li class="item flexrow">
    <div class="item flexrow setting-name text-nowrap">
      {{localize "CPR.itemSheet.itemUpgrade.isSecondaryWeapon"}}
    </div>
    <div class="item flexrow setting-value text-nowrap item-end">
      {{#if this.editable }}
        {{#if item.system.modifiers.secondaryWeapon.configured }}
          <a class="item-checkbox"
             data-target="system.modifiers.secondaryWeapon.configured">
            <i class="far fa-circle-check"></i>
          </a>
        {{else}}
          <a class="item-checkbox"
             data-target="system.modifiers.secondaryWeapon.configured">
            <i class="far fa-circle"></i>
          </a>
        {{/if}}
      {{else}}
        {{#if item.system.modifiers.secondaryWeapon.configured }}
          <span>
            <i class="far fa-circle-check"></i>
          </span>
        {{else}}
          <span>
            <i class="far fa-circle"></i>
          </span>
        {{/if}}
      {{/if}}
    </div>
  </li>
  {{#if item.system.modifiers.secondaryWeapon.configured }}
    {{> "systems/cyberpunk-red-core/templates/item/settings/mixin/cpr-attackable.hbs" this}}
  {{/if}}
{{/if}}
{{!-- Size of the upgrade --}}
<li class="item flexrow">
  <div class="item flexrow setting-name text-nowrap">
    {{localize "CPR.itemSheet.itemUpgrade.installationSize"}}
  </div>
  <div class="item flexrow setting-value text-nowrap item-end">
    {{#if this.editable }}
      <input name="system.size"  type="number" value="{{item.system.size}}"/>
    {{else}}
      <span class="text-flex-end">{{item.system.size}}</span>
    {{/if}}
  </div>
</li>
<hr/>
{{localize "CPR.itemSheet.itemUpgrade.upgradeOverview"}}
<hr/>
{{!-- Cyberware has no upgradable data points, but could have a weapon attachment --}}
{{#if (cprCompare system.type "!==" "cyberware") }}
  <li class="item items-header flexrow">
    <div class="setting-name text-nowrap">
      {{localize "CPR.itemSheet.itemUpgrade.dataPoint"}}
    </div>
    <div class="setting-type text-nowrap">
      {{localize "CPR.itemSheet.itemUpgrade.modifierType"}}
    </div>
    <div class="setting-value text-nowrap text-center">
      {{localize "CPR.itemSheet.itemUpgrade.modifierValue"}}
    </div>
    <div class="setting-value text-nowrap text-center">
      {{localize "CPR.effectSheet.header.situational"}}
    </div>
    <div class="setting-value text-nowrap text-center">
      {{localize "CPR.effectSheet.header.onByDefault"}}
    </div>
  </li>
  {{#each upgradableDataPoints as |dataPoint| }}
    {{#with dataPoint}}
      <li class="item flexrow">
        <div class="setting-name text-nowrap">
          {{localize localization}}
        </div>
        <div class="setting-type text-nowrap">
          <select name="system.modifiers.{{key}}.type">
            {{selectOptions selectOptions selected=modData.type localize=true}}
          </select>
        </div>
        <div class="setting-value text-nowrap text-center">
          {{#if ../this.editable }}
            <input name="system.modifiers.{{key}}.value"
                   type="number"
                   value="{{modData.value}}"
                   placeholder="0"/>
          {{else}}
            <span class="text-flex-end">{{modData.value}}</span>
          {{/if}}
        </div>
        <div class="setting-value text-nowrap text-center">
          <input {{disabled disableSituational}} name="system.modifiers.{{key}}.isSituational" type="checkbox" {{checked modData.isSituational}}/>
        </div>
        <div class="setting-value text-nowrap text-center">
          <input {{disabled disableOnByDefault}} name="system.modifiers.{{key}}.onByDefault" type="checkbox" {{checked modData.onByDefault}}/>
        </div>
      </li>
    {{/with}}
  {{/each}}
{{/if}}
