<li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections "gearTab-netarch") }} hide{{/if }}{{/if }}"
    data-item-id="{{item._id}}"
    data-item-category="{{item.type}}"
    draggable="true">
  <div class="item-name gear-name text-nowrap flexrow">
    <a class="name item-edit flex-center">
      <div class="item-thumb">
        <img src="{{item.img}}"/>
      </div>
      {{item.name}}
    </a>
  </div>
  <div class="gear-amount">
    <div class="gear-amount-value">
      x {{cprSizeOf item.system.floors}}
    </div>
  </div>
  <div class="item-detail gear-data text-nowrap"
       data-tooltip="{{cprSanitizeText item.system.description.value}}">
    {{cprSanitizeText item.system.description.value}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
  </div>
</li>
