{{#if (cprCompare type "===" "weapon") }}
  {{!-- LOAD/RELOAD ACTION --}}
  {{#if system.isRanged }}
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-reload-glyph.hbs"}}
  {{/if}}
  {{#if system.isRanged }}
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-changeAmmo-glyph.hbs"}}
  {{/if}}
{{/if}}
{{#if (cprCompare type "===" "cyberware") }}
  {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-install-cyberware-glyph.hbs"}}
{{/if}}
{{#if (cprCompare type "===" "cyberdeck") }}
  {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-install-programs-glyph.hbs"}}
{{/if}}
{{#if (cprCompare type "===" "armor") }}
  {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-repair-glyph.hbs"}}
{{/if}}
{{#if (cprCompare type "===" "drug") }}
  {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-snort-glyph.hbs"}}
{{/if}}
{{#if (cprCompare (cprHasTemplate type "stackable") "&&" (cprCompare system.amount ">" "1")) }}
  {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-split-item.hbs"}}
{{/if}}
{{#if (cprHasTemplate type "equippable") }}
  {{#unless (cprCompare type "===" "itemUpgrade")}}
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-equip-glyph.hbs"}}
  {{/unless}}
{{/if}}
{{#if (cprListContains "itemUpgrade,cyberdeck" type) }}
  {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-install-item-glyph.hbs"}}
{{/if}}
{{!-- UPGRADE MANAGEMENT --}}
{{#if (cprIsUpgradable this) }}
  {{#if system.isUpgraded }}
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-upgrade-glyph.hbs"}}
  {{else}}
    {{#unless (cprIsEmpty (cprFilter (cprFilter actor.itemTypes.itemUpgrade "system.type" type) "system.isInstalled" false))}}
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-upgrade-glyph.hbs"}}
  {{/unless}}
{{/if}}
{{/if}}
<a class="item-action"
   data-action-type="favorite"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.togglePin"}}">
  {{#if system.favorite }}
    <i class="fas fa-thumbtack pinned"></i>
  {{else}}
    <i class="fas fa-thumbtack unpinned"></i>
  {{/if}}
</a>
<a class="item-action" data-action-type="delete"><i class="fas fa-trash-can"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.deleteItem"}}"></i></a>
