<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal text-semi">
        {{rollTitle}}
      </div>
      <div class="text-center text-small">{{cyberwareName}}</div>
    </div>
  </div>
  <div class="rollcard-bottom">
    <div class="cpr-block">
      <div class="d6-rollcard-data">
        {{#if entityData.static}}
          <div class="humanity-static-div">
            {{localize "CPR.chat.humanityLoss.static"}}
          </div>
        {{else}}
          <div class="d6-dice-div">
            {{!-- die image for initialRoll --}}
            {{#each faces as |dieFace| }}
              <img class="{{cprDiceSizeImageClass ../formula}}"
                   src="systems/cyberpunk-red-core/icons/dice/black/d6_{{dieFace}}.svg"/>
            {{/each}}
          </div>
        {{/if}}
        <div class="d6-number-div">
          <span class="{{#if criticalCard }}text-semi{{/if }}">{{resultTotal }}</span>
        </div>
        <div class="d6-data-div">
          <div class="d6-data-details"></div>
        </div>
      </div>
    </div>
  </div>
</div>
