<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal text-semi">
        {{localize "CPR.chat.damageApplication.damageDealtTo"}}
      </div>
      <div class="rollcard-subtitle">
        <div class="rollcard-subtitle-center text-small">{{actor.name}}</div>
        <div class="rollcard-subtitle-right">
          <a class="clickable"
             data-action="reverseDamage"
             data-actor-id="{{actor.id}}"
             data-token-id="{{actor.parent.id}}"
             data-hp-reduction="{{hpReduction}}"
             data-location="{{location}}"
             data-ablation="{{ablation}}"
             data-shield-ablation="{{shieldAblation}}">
            <i class="fas fa-rotate-left"
               data-tooltip="{{localize "CPR.chat.damageApplication.reverseDamage"}}"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="rollcard-bottom">
    <div class="cpr-block">
      <div class="cpr-d6-rollcard-data"></div>
      <div class="d6-dice-div"></div>
      <div class="d6-number-div">
        <div class="text-center">
          <a> <span class="clickable text-semi"
       data-action="toggleVisibility"
       data-visible-element="d6-data-details">{{hpReduction}}</span> </a>
        </div>
      </div>
      <!-- If location exists and it isn't "body" display it on the card. -->
      {{#if (cprCompare location "&&" (cprCompare location "!==" "body")) }}
        <div class="text-normal text-semi">
          <div class="text-right">
            {{localize "CPR.rolls.location"}}: {{localize (cprFindConfigValue "damageLocation" location)}}
          </div>
        </div>
      {{/if}}
      <div class="d6-data-div">
        <div class="d6-data-details hide">
          <!--If this affects rez, only show rez. -->
          {{#if rezReduction }}
            <div class="text-right text-normal">
              {{localize "CPR.chat.damageApplication.rezReducedBy"}} <span class="text-semi">{{hpReduction}}</span>
            </div>
          {{else}}
            <!--If damage is affects the brain: -->
            {{#if brainDamage }}
              <div class="text-right text-normal">
                {{localize "CPR.chat.damageApplication.damageRolled"}} <span class="text-semi">{{damage}}</span>
              </div>
              {{#if bonusDamage }}
                <div class="text-right text-normal">
                  {{localize "CPR.chat.damageApplication.criticalDamage"}} <span class="text-semi">{{bonusDamage}}</span>
                </div>
              {{/if}}
              <div class="text-right text-normal">
                {{localize "CPR.chat.damageApplication.damageDealt"}} <span class="text-semi">{{totalDamageDealt}}</span>
              </div>
              {{#if totalDamageReduction }}
                <div class="text-right text-normal">
                  {{localize "CPR.chat.damageApplication.damageReduction"}} <span class="text-semi">{{totalDamageReduction}}</span>
                </div>
              {{/if}}
              <div class="text-right text-normal">
                {{localize "CPR.chat.damageApplication.healthReducedBy"}} <span class="text-semi">{{hpReduction}}</span>
              </div>
            {{else}}
              <!-- If damage did not cause hp reduction. -->
              {{#if (cprCompare hpReduction "===" 0) }}
                <!-- If damage did not cause HP reduction because damage reduction stopped it. -->
                {{#if (cprCompare (cprCompare (cprMath "subtract" totalDamageDealt totalDamageReduction) "<=" 0) "&&" ablation) }}
                  <div class="text-center text-normal">
                    {{localize "CPR.chat.damageApplication.damageNegatedByDamageReduction"}}
                  </div>
                  <hr/>
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageRolled"}} <span class="text-semi">{{damage}}</span>
                  </div>
                  {{#if bonusDamage }}
                    <div class="text-right text-normal">
                      {{localize "CPR.chat.damageApplication.criticalDamage"}} <span class="text-semi">{{bonusDamage}}</span>
                    </div>
                  {{/if}}
                  {{#if armorData.equipped }}
                    <div class="text-right text-normal">
                      {{localize "CPR.chat.damageApplication.armorSP"}} <span class="text-semi">{{armorData.value}}</span>
                    </div>
                  {{/if}}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageDealt"}} <span class="text-semi">{{totalDamageDealt}}</span>
                  </div>
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageReduction"}} <span class="text-semi">{{totalDamageReduction}}</span>
                  </div>
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.healthReducedBy"}} <span class="text-semi">{{hpReduction}}</span>
                  </div>
                  {{#if (cprCompare armorData.equipped "&&" armorData.value) }}
                    <div class="text-right text-normal">
                      {{localize "CPR.chat.damageApplication.armorAblation"}} <span class="text-semi">{{ablation}}</span>
                    </div>
                  {{/if}}
                  {{else if (cprCompare damageLethal "===" false)}}
                  <!-- If damage did not cause HP reduction because ammo is non-lethal and current HP <= 1. -->
                  <div class="text-center text-normal">
                    {{localize "CPR.chat.damageApplication.nonLethalNoDamage"}}
                  </div>
                  <hr/>
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageRolled"}} <span class="text-semi">{{damage}}</span>
                  </div>
                  {{#if bonusDamage }}
                    <div class="text-right text-normal">
                      {{localize "CPR.chat.damageApplication.criticalDamage"}} <span class="text-semi">{{bonusDamage}}</span>
                    </div>
                  {{/if}}
                {{else}}
                  <!-- If damage did not cause HP reduction because armor stopped it. -->
                  <div class="text-center text-normal">
                    {{localize "CPR.chat.damageApplication.damageDidNotPenetrate"}}
                  </div>
                  <hr/>
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageRolled"}} <span class="text-semi">{{damage}}</span>
                  </div>
                  {{#if bonusDamage }}
                    <div class="text-right text-normal">
                      {{localize "CPR.chat.damageApplication.criticalDamage"}} <span class="text-semi">{{bonusDamage}}</span>
                    </div>
                  {{/if}}
                {{/if}}
                {{#if shieldAblation }}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageToShield"}} <span class="text-semi">{{shieldAblation}}</span>
                  </div>
                {{/if}}
              {{else}}
                <!-- If damage got through and caused HP reduction. -->
                <div class="text-right text-normal">
                  {{localize "CPR.chat.damageApplication.damageRolled"}} <span class="text-semi">{{damage}}</span>
                </div>
                {{#if bonusDamage }}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.criticalDamage"}} <span class="text-semi">{{bonusDamage}}</span>
                  </div>
                {{/if}}
                {{#if armorData.equipped }}
                  {{#if ignoreArmorEntirely}}
                      <div class="text-right text-normal"
                        data-tooltip="{{localize "CPR.chat.damageApplication.hover.ignoreArmor"}}{{ignoreBelowSP}}">
                        {{localize "CPR.chat.damageApplication.ignoreArmorPercent"}} <span class="text-semi">100%</span>
                      </div>
                  {{else}}
                    {{#if (cprCompare ignoreArmorPercent "!==" 0)}}
                      <div class="text-right text-normal">
                        {{localize "CPR.chat.damageApplication.ignoreArmorPercent"}} <span class="text-semi">{{ignoreArmorPercent}}%</span>
                      </div>
                    {{/if}}
                  {{/if}}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.armorSP"}} <span class="text-semi">{{armorData.value}}</span>
                  </div>
                {{/if}}
                <div class="text-right text-normal">
                  {{localize "CPR.chat.damageApplication.damageDealt"}} <span class="text-semi">{{totalDamageDealt}}</span>
                </div>
                {{#if totalDamageReduction }}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageReduction"}} <span class="text-semi">{{totalDamageReduction}}</span>
                  </div>
                {{/if}}
                <div class="text-right text-normal">
                  {{localize "CPR.chat.damageApplication.healthReducedBy"}} <span class="text-semi">{{hpReduction}}</span>
                </div>
                {{#if (cprCompare armorData.equipped "&&" armorData.value) }}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.armorAblation"}} <span class="text-semi">{{ablation}}</span>
                  </div>
                {{/if}}
                {{#if shieldAblation }}
                  <div class="text-right text-normal">
                    {{localize "CPR.chat.damageApplication.damageToShield"}} <span class="text-semi">{{shieldAblation}}</span>
                  </div>
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
