<div class="lifepath-tab">
  <div class="notes-section">
    <div class="notes-details">
      <div class="notes-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.playerNotes"}}
      </div>
      <div class="note-pad">
        {{editor enrichedHTML.systemInformationNotes
            target="system.information.notes"
            button=true
            owner=owner
            editable=editable
            engine="prosemirror"
        }}
      </div>
    </div>
  </div>
  <div class="lifepath-section">
    <div class="cultural-origins">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.culturalOrigins"}}
        <span class="text-float-right">
          <a class="set-lifepath" data-item-prop="set-lifepath">
            <i class="text-smaller text-padding-right-smaller fas fa-wrench"></i>
          </a>
        </span>
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathCulturalOrigin}}}
      </div>
    </div>
    <br/>
    <div class="languages">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.languages"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathLanguages}}}
      </div>
    </div>
    <br/>
    <div class="personality">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.personality"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathPersonality}}}
      </div>
    </div>
    <br/>
    <div class="clothing-style">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.clothingStyle"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathClothingStyle}}}
      </div>
    </div>
    <br/>
    <div class="hairstyle">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.hairStyle"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathHairStyle}}}
      </div>
    </div>
    <br/>
    <div class="affectations">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.affectations"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathAffectations}}}
      </div>
    </div>
    <br/>
    <div class="value-most">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.valueMost"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathValueMost}}}
      </div>
    </div>
    <br/>
    <div class="people-feelings">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.peopleFeelings"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathAboutPeople}}}
      </div>
    </div>
    <br/>
    <div class="valued-person">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.valuedPerson"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathValuedPerson}}}
      </div>
    </div>
    <br/>
    <div class="valued-possession">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.valuedPossession"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathValuedPossession}}}
      </div>
    </div>
    <br/>
    <div class="family-background">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.familyBackground"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathFamilyBackground}}}
      </div>
    </div>
    <br/>
    <div class="child-environment">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.childhoodEnvironment"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathChildhoodEnvironment}}}
      </div>
    </div>
    <br/>
    <div class="family-crisis">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.familyCrisis"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathFamilyCrisis}}}
      </div>
    </div>
    <br/>
    <div class="friends">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.friends"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathFriends}}}
      </div>
    </div>
    <br/>
    <div class="enemies">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.enemies"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathEnemies}}}
      </div>
    </div>
    <br/>
    <div class="lovers">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.lovers"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathTragicLoveAffairs}}}
      </div>
    </div>
    <br/>
    <div class="life-goals">
      <div class="lifepath-label section-name text-nowrap text-padding-left-smallest">
        {{localize "CPR.characterSheet.bottomPane.lifepath.lifeGoals"}}
      </div>
      <div class="lifepath-value">
        {{{enrichedHTML.systemLifepathLifeGoals}}}
      </div>
    </div>
  </div>
</div>
