<li class="dialog-item flexrow">
  <div class="dialog-item-name text-nowrap">
    {{localize "CPR.rolls.modifiers.additionalMods"}}:
  </div>
  <div class="dialog-item-input text-nowrap">
    <input name="additionalMods" type="text" placeholder="{{localize "CPR.rolls.modifiers.additionalModsPlaceholder"}}" value="{{rollData.additionalMods}}"/>
  </div>
</li>
