<form class="dialog-sheet">
  <div class="dialog-header flexcol">
    <div class="text-normal text-center">
      {{localize "CPR.rolls.rollingFor" rollTitle=rollData.rollTitle}}
    </div>
  </div>
  <hr/>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      {{#if rollData.statName }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap">
            {{localize "CPR.global.generic.stat"}} {{localize "CPR.global.generic.value"}} ({{localize rollData.statName}})
          </div>
          <div class="dialog-item-input text-nowrap">
            <input name="statValue" type="number" data-dtype="Number" value="{{rollData.statValue}}"/>
          </div>
        </li>
      {{/if}}
      {{#if rollData.roleName }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap">
            {{localize "CPR.rolls.abilityRank"}} ({{localize rollData.roleName}})
          </div>
          <div class="dialog-item-input text-nowrap">
            <input name="roleValue" type="number" data-dtype="Number" value="{{rollData.roleValue}}"/>
          </div>
        </li>
      {{/if}}
      {{!-- Additional user inputted modifiers --}}
      {{> "systems/cyberpunk-red-core/templates/dialog/rolls/cpr-additional-modifiers.hbs" this}}
      {{#if (cprCompare (cprCompare rollData.rollCardExtraArgs.program.system.class "!==" "blackice") "&&" (cprCompare rollData.rollCardExtraArgs.program.system.class "!==" "demon")) }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap">{{localize "CPR.rolls.luck"}}:</div>
          <div class="dialog-item-input text-nowrap">
            <input name="luck" type="number" data-dtype="Number" value="{{rollData.luck}}"/>
          </div>
        </li>
      {{/if}}
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.rolls.shouldRollCriticals"}}:
        </div>
        <div class="dialog-item-input text-nowrap">
          <input name="calculateCritical" type="checkbox" data-dtype="Checkbox" {{checked rollData.calculateCritical}}/>
        </div>
      </li>
      {{!-- All applied modifier list partial --}}
      {{> "systems/cyberpunk-red-core/templates/dialog/rolls/cpr-all-modifiers.hbs" this}}
    </ol>
  </div>
  {{!-- Situational modifier list partial --}}
  {{> "systems/cyberpunk-red-core/templates/dialog/rolls/cpr-situational-modifiers.hbs" this}}
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
