<form class="dialog-sheet">
  <div class="dialog-header flexcol">
    <div class="text-normal text-center">
      {{localize "CPR.rolls.rollingFor" rollTitle=rollData.rollTitle}}
    </div>
    {{#if (cprListContains prototypeChain "CPRInitiative") }}
      <div class="text-center">
        <span class="text-semi">
          {{localize "CPR.global.generic.combatant"}}:
        </span>
        {{rollData.combatant}}
      </div>
    {{/if}}
  </div>
  <hr/>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.global.generic.stat"}}
          ({{localize rollData.statName}}):
        </div>
        <div class="dialog-item-input text-nowrap">
          <input name="statValue"
                 type="number"
                 data-dtype="Number"
                 value="{{rollData.statValue}}"/>
        </div>
      </li>
      {{#if (cprListContains prototypeChain "CPRSkillRoll") }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap">
            {{localize "CPR.global.itemTypes.skill"}}
            ({{localize (cprGetLocalizedlNameKey rollData.skillName "skill")}}):
          </div>
          <div class="dialog-item-input text-nowrap">
            <input name="skillValue"
                   type="number"
                   data-dtype="Number"
                   value="{{rollData.skillValue}}"/>
          </div>
        </li>
      {{/if}}
      {{!-- Additional user inputted modifiers --}}
      {{> "systems/cyberpunk-red-core/templates/dialog/rolls/cpr-additional-modifiers.hbs" this}}
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.rolls.luck"}}:
        </div>
        <div class="dialog-item-input text-nowrap">
          <input name="luck"
                 type="number"
                 data-dtype="Number"
                 value="{{rollData.luck}}"/>
        </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.rolls.shouldRollCriticals"}}:
        </div>
        <div class="dialog-item-input text-nowrap">
          <input name="calculateCritical"
                 class="item-checkbox"
                 type="checkbox"
                 data-target="calculateCritical"
                 data-dtype="Checkbox" {{checked rollData.calculateCritical}}/>
        </div>
      </li>
      {{#if (cprListContains prototypeChain "CPRAimedAttackRoll") }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap">
            {{localize "CPR.rolls.aimFor"}}:
          </div>
          <div class="dialog-item-input text-nowrap">
          <select name="location">
            {{selectOptions (cprFindConfigObj "aimedLocation") selected=rollData.location localize=true}}
          </select>
        </div>
      </li>
    {{/if}}
    {{!-- All applied modifier list partial --}}
    {{> "systems/cyberpunk-red-core/templates/dialog/rolls/cpr-all-modifiers.hbs" this}}
  </ol>
</div>
{{!-- Situational modifier list partial --}}
{{> "systems/cyberpunk-red-core/templates/dialog/rolls/cpr-situational-modifiers.hbs" this}}
{{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
